.selector-for-some-widget {
    box-sizing: content-box;
  }
.carousel  {
    height: 32rem;
    background: black;
    color: white;
    position: relative;
}
.carousel-inner {
    height: auto;
    
}
.carousel-inner .d-block w-100{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
}



